/function/nbproject/private/
/uprajnenie/nbproject/private/
/sravnenie/nbproject/private/
/sravnenie1/nbproject/private/
/sravnenie2/nbproject/private/
/sravnenie3/nbproject/private/
/functions/nbproject/private/
/function1/nbproject/private/
/Arrays/nbproject/private/
/Arrays1/nbproject/private/